body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f1e6d5; /* Parchment */
  color: #5b3f69;           /* Voodoo text */
}

header {
  background: #914b75; /* Cannon Pink */
  color: #f1e6d5;      /* Parchment */
  padding: 1rem;
  text-align: center;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  position: relative;
  width: 99.7%;
  justify-content: space-between;
  background-color: #5b3f69; /* Voodoo */
  right: 1%;
  top: 30px;
  padding: 20px;
}

nav a {
  color: #f1e6d5; /* Parchment */
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background: #f1e6d5; /* Parchment */
  color: #914b75;      /* Cannon Pink */
  border-radius: 4px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1600px;
  margin: 1rem auto;
  padding: 2px;
}

.card {
  max-width: 800px;
  height: 500px;
  background: #ffffff;
  border: 2px solid #914b75; /* Cannon Pink border */
  margin-bottom: 5px;
  border-radius: 8px;
}

.about_me {
  text-align: center;
  background: #914b75;  /* Cannon Pink */
  color: #f1e6d5;       /* Parchment 
  width: 111.2%;
  height: 6%;
  position: relative;
  right: 5.6%;
  bottom: 20px;*/
  padding-top: 1%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.webhead {
  margin-top: 0;
  text-align: center;
  background: #914b75;  /* Cannon Pink */
  color: #f1e6d5;       /* Parchment */
  width: 100.2%;
  height: 6%;
  position: relative;
  right: 0.3%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 0.3%;
}

.about img {
  /*position: relative;
  left: 80%;
  bottom: 25px;*/
  max-width: 20%;
  float: right;   
  margin: 0 0 1rem 1rem;
}
/*
.me {
  position: relative;
  bottom: 240px;
}*/

.city_name {
  /*position: relative;*/
  text-align: center;
  /*bottom: 70px;
  right: 120px;*/
}

.swakop img {
  position: relative;
  max-width: 22%;
  bottom: 60px;
}
/*
.swakop {
  position: relative;
  bottom: 160px;
}

.city {
  position: relative;
  left: 25%;
  bottom: 195px;
}*/

.flag {
  /*position: relative;
  bottom: 250px;*/
  font-size: 80%;
  font-style: italic;
}

hr {
  /*position: relative;
  bottom: 92px;*/
  width: 50%;
  /*right: 18%;*/
}

footer {
  text-align: center;
  background: #914b75; /* Cannon Pink */
  color: #f1e6d5;      /* Parchment */
  padding: 1rem;
  font-size: 0.9rem;
}
