@media (min-width: 768px) {

  nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  #hamburger {
    display: none;
  }

  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
